<div [class.overlay] = "matchlistloading"><span [class]="matchlistloading  ? 'loader' : 'hide'"><img src="../assets/images/some.gif" /></span></div>

<div *ngIf="pastMatchesByType;then showPastMatchList else showNoContentMessage"></div>
  <ng-template #showNoContentMessage>
    No Matches
  </ng-template>
  <ng-template #showPastMatchList>
<!--<div *ngIf="pastMatchView" class="view user_view"> -->
<div  class="past_match" *ngFor="let match of pastMatchesByType">
  <div class="sport-table">
    <div class="sport-table-tr">
      <div class="row sport-row align-items-center row-15">
        <div class="col-sm-1 col-md-1 col-lg-1">
          <div class="sport-table-icon">
            <div class="sprite sprite-sport-icon-07">
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1">

        	<div *ngIf="match.votedFor">
        	<div *ngIf="(match.resultOfUser === 'WON');then  showthumbsup else showthumbsdown"></div>
        	<ng-template #showthumbsup>
              	<i class="sport-table-bonus-icon fa fa-thumbs-up text-success"></i>
              </ng-template>
            <ng-template #showthumbsdown>
              	<i class="sport-table-bonus-icon fa fa-thumbs-down text-danger"></i>
              </ng-template>  
          </div>
      </div>
          <div class="col-sm-7 col-md-3 col-lg-2">
          <div class="sport-table-title">
            <div class="sport-table-title-item sport-table-title-item-left inline">
              <span>
                <img src="{{match.t1}}" heigth=20px width="20px">
                <span class="sport-table-title-team">{{match.team1Name}}</span>
              </span>
              Vs
              <span>
                <img src="{{match.t2}}"  heigth=20px width="20px">
                <span class="sport-table-title-team">{{match.team2Name}}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-7">
          <div class="sport-table-wager">
            <a [ngClass]="match.winner && match.winner.toUpperCase() == match.team1Name.toUpperCase()? 'sport-table-wager-button active ' : match.votedFor && match.votedFor.toUpperCase() == match.team1Name.toUpperCase()? 'sport-table-wager-button info':'sport-table-wager-button defaultcursor'">
              <span>{{match.team1Name}}</span>              
              <!--<span class="sport-table-wager-button-count">1.23</span>-->
            </a>
            <a [ngClass]="match.winner && match.winner.toUpperCase() == 'draw'.toUpperCase()? 'sport-table-wager-button active ' : 'sport-table-wager-button defaultcursor'"  >
              <span>Draw</span>
              <!--<span class="sport-table-wager-button-count">13.00</span>-->
            </a>
            <a [ngClass]="match.winner && match.winner.toUpperCase() == match.team2Name.toUpperCase()? 'sport-table-wager-button active ' : match.votedFor && match.votedFor.toUpperCase() == match.team2Name.toUpperCase()? 'sport-table-wager-button info':'sport-table-wager-button defaultcursor'">
              <span>{{match.team2Name}}</span>
              <!--<span class="sport-table-wager-button-count">34.25</span> -->
            </a>
          </div>
        </div>
        <!--<div class="col-sm-2 col-md-1 col-lg-1">
          <div class="sport-table-bonus">
            <span class="sport-table-bonus-count">+58</span>
            <span class="sport-table-bonus-icon material-icons-chevron_right"></span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  </div>
<!--</div> -->
</ng-template>