<nav class="navbar bg-dark navbar-dark navbar-inverse">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Lets Bet !!</a>
  <!-- Links -->
  <ul class="nav navbar navbar-right  ">
    <li class="nav-item ">
      <label class="stats">
        <i class="fa fa-trophy golden"></i>30
      </label>
    </li>
    <li class="nav-item">
      <label class="stats">
        <i class="fa fa-thumbs-up text-success"></i>3
      </label>
    </li>
    <li class="nav-item">
      <label class="stats">
        <i class="fa fa-thumbs-down text-danger"></i>1
      </label>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">logout</a>
    </li>
  </ul>
</nav>

<div style="text-align:center">
  <h1>
    Lets Bet !!
  </h1>
  <router-outlet></router-outlet>
</div>
