.stats{
  font-size: 16px;
  color:white;
  margin-left:5px;
  margin-right: 5px;
}
.golden{
  color:#DAA520;
}
.bg-dark{
  background:#607d8b !important;
  z-index:20;
}
.hide{
	display: none;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  display:block;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
div.inline{
  display: inline;
}
a.paintmeyellow{
  color:#ffeb3b96;
}
