<div [class.overlay] = "templateloading"><span [class]="templateloading  ? 'loader' : 'hide'"><img src="../assets/images/some.gif" /></span></div>


<div *ngIf="matchTypes;then showTemplateList else showNoContentMessage"></div>
    <ng-template #showNoContentMessage>
      No Templates
    </ng-template>
<ng-template #showTemplateList>
  <!-- Heading Component-->
  <div class="dashboard_container">
  <!--<ul>
   <li class="inline" *ngFor="let type of matchTypes">
    <div [ngClass]="currentTemplate === type?'active paintmedull':'paintmedull'" (click)="switchGame(type)">
		  <img src="{{type['description']}}" width="30px" height="30px" >	
		  <span>{{type.templateName}}</span>
    </div>
    </li>
                 
</ul>

-->
<br>
<div class="main_content">



<div class="row">

	<div class="col-md-3">
		<app-leader-board></app-leader-board>

	</div>
	<div class="col-md-9">
		 <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav_upcoming_match" data-toggle="tab" href="#upcoming_match" role="tab" aria-controls="upcoming_match" aria-selected="true">Upcoming matches</a>
    <a class="nav-item nav-link" id="nav_past_match" data-toggle="tab" href="#past_match" role="tab" aria-controls="past_match" aria-selected="false">Past matches</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="upcoming_match" role="tabpanel" aria-labelledby="nav_upcoming_match">
  	<app-match [template_id]="currentTemplate.templateId"></app-match>
  </div>
  <div class="tab-pane fade" id="past_match" role="tabpanel" aria-labelledby="nav_past_match">
  	<app-past-match [template_id]="currentTemplate.templateId"></app-past-match>
  </div>
  </div>
	</div>
</div>
</div>
  






</div>
</ng-template>

