
.dashboard_container{
  margin-top: 30px;
}
.main_content{
 
}
/*MODAL*/
.games_table .card{
  padding:10px;
  margin:10px;
  background: grey;
  width:20%;
}
.games_table .card:hover{
  background-color: #64b000;
}

/*match types*/
.row{
  width:100%;
}
.inline {
    display: inline-block;
    width: 18%;
    height: 50px;    
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    margin-right:  2px;
}
div.paintmedull{
  border-right: 1px #e2dfdf solid;
 
}
div.active {
    font-weight: bold;
 
}
